html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

ul, li {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navigator {
    width: 100px;
    border: #e5e5e5 1px solid;
}

.nav-item {
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-bottom: #e5e5e5 1px solid;
}

.nav-item:last-child {
    border-bottom: 0px;
}

.selected-item {
    color: #e5e5e5;
}

.content {
    flex: 1;
    display: flex;
    border: #e5e5e5 1px solid;
    border-left: 0px;
    justify-content: center;
    align-items: center;
}

.wrapper {
    display: flex;
}