* {
  margin: 0;
}
.game-container {
    position: relative;
}
.play{
    display: block;
    left: 220px;
    top: 470px;
    z-index: 10;
    position: absolute;
    background-color: #fe8abb;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    font-size: 30px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
  }
  .score {
      position: absolute;
      left: 0;
      top: 0;
      width: 100px; 
      font-size: 20px; 
      height: 30px; 
      margin: 30px auto; 
      line-height: 30px; 
      color:#000;
      text-align: center;  
      display: block;
  }