
.notes, textarea {
    font-family: Verdana, 'Microsoft YaHei', sans-serif;
    font-size: 16px;
}

.notes p {
    margin: 0;
}

.notes>div {
    float: left;
    position: relative;
    border: solid 2px greenyellow;
    width: 200px;
    height: 200px;
    margin: 10px;
}

.notes textarea {
    border: none;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.notes .close {
    position: absolute;
    right: -10px;
    top: -10px;
    width: 30px;
    line-height: 30px;
    text-align: center;
    background: red;
    color: white;
    border-radius: 50%;
}

.notes>div.add {
    border-color: lightgray;
    text-align: center;
    cursor: pointer;
}

.notes .ic_add {
    font-size: 80px;
    line-height: 80px;
    padding-top: 40px;
    font-weight: bold;
    color: green;
}