@charset "UTF-8";
/* line 5, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 7, ../sass/style.scss */
.rounded {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

/* line 11, ../sass/style.scss */
.stretch-full {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

/* line 10, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer html, #footer body {
  height: 100%;
}
/* line 12, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #root {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -40px;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #root #root_footer {
  height: 40px;
}
/* line 20, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
#footer #footer {
  clear: both;
  position: relative;
  height: 40px;
}

/* line 19, ../sass/style.scss */
a {
  color: #333;
}
/* line 18, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: #44b336 – #111;
}
/* line 21, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: #55c447;
}
/* line 24, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: #999;
}
/* line 27, ../../../../../.rvm/gems/ruby-2.3.0@global/gems/compass-core-1.0.3/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: #44b336;
}

/* line 23, ../sass/style.scss */
.clearfix {
  overflow: hidden;
  *zoom: 1;
}
