html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.draggable {
    width: 228px;
}

.draggable > div {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    border-radius: 50%;
    margin: 0 auto;
}

.text {
    margin-top: 40px;
}

.text > div {
    border: solid 1px black;
    width: 100px;
    height: 100px;
    display: inline-block;
    text-align: center;
    line-height: 100px;
}

.text > div:nth-child(2) {
    margin-left: 20px;
}